body{
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: cover;
  background-attachment: fixed;
}

.contenedor{
  background-color: rgba(0,0,0,0.3);
  border-radius: 3px;
  padding: 5px;
}

.busqueda{
  width: 70%;
  float: left;
  margin: 4px;
}

.comentario{
  min-width: 100%;
}

.fecha-entrada{
  color: #2ba6cb;
}

.boton{
  margin: 6px;
}

.navegacion{
  float: left !important;
  width: 100%;
}

.columna{
  clear: both;
}

.imagen{
  margin: 5px 2px;
}

.caja-comentarios{
  border-radius: 5px;
}

.avatar{
  width: 70px;
  float: left;
  margin: 7px;
}
