body{
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.logo{
  height: 100px;
  border-radius: 5px;
}

.contenedor{
  background-color: rgba(255,255,255,0.2);
  margin: 10px;
  border-radius: 5px;
}

.card-title{
  font-size: 40px !important;
}

.header{
  background-color: rgba(0,0,0,0.4);
  margin: 0px;
  text-align: center;
}

.redes{
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 1px;
  top: 200px;
}

.chip-icon{
  line-height: 32px;
  margin-left: 5px !important;
}

.foto-perfil{
  width: 250px;
  margin: 10px;
}

.imagen-parrafo{
  width: 100%;
}

.enviar{
  line-height: 20px !important;
}

.expandido{
  width: 100%;
}

.iconos{
  width: 50px;
  margin: 20px 0px;
}

.texto{
  margin: 25px;
}

.slogan{
  font-weight: bold;
  font-size: 20px;
  padding: 10px !important;
}

.clearfix::after{
  content: "";
  clear: both;
  display: block;
}

.boton{
  padding: 0px 9px;
}

.imagen{
  width: 100%;
  margin: 20px 1px;
}

.imagen-derecha{
  width: 98%;
  margin: 20px 1px;
}

@media (max-width:992px) {
  .header{
    text-align: center;
  }
  .redes{
    position: absolute;
    margin-top: 100px;
  }
}
