body{
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.logo{
  height: 100px;
  border-radius: 5px;
  float: left;
}

.header{
  background-color: rgba(0,0,0,0.4);
  margin: 0px;
}

.slogan{
  font-weight: bold;
  font-size: 20px;
}

.clearfix::after{
  content: "";
  clear: both;
  display: block;
}
